<meta charset="UTF-8" />
<title>VEGETALANDIA</title>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<script src="./socket.io/socket.io.min.js"></script>
<script src="./socketProduct.js"></script>
<style>
  body {
    padding-top: 50px;
  }
  nav {
    margin: 10px;
  }
  .titulos {
    background-color: rgba(75, 14, 106, 0.152);
    text-align: center;
    border-radius: 10px;
  }
  .first_titulo{
    text-transform: lowercase;
  }

  .first_titulo:first-letter {
    text-transform: uppercase;
  }
</style>

